# Introduction to Programming using Python

**Using Anaconda Distribution's Jupyter Notebook**

## Conditional Statements and Loops

## Conditional Statements

- `IF condtion`
- `IF-ELSE condition`
- `Nested IF-ELSE condtion`

### These statements are used to make decisions based on conditions

**Syntax**

    if test expression:
           statement(s)

## IF condition

In [ ]:
#Example
x=1
if x>0:
    print('Hello World')

In [2]:
#Run the exact above code with x=0
#Write your code here
x=0
if x>0:
    print('Hello World')

## IF-ELSE condition

In [3]:
#Example
x=0
if x>0:
    print('Hello World')
else:
    print('Hi World')

Hi World

## Nested IF-ELSE condition

In [4]:
# Write a code which can identify the largest number from 3 given numbers
x=2
y=3
z=1
if x>y:
    if x>z:
        print('x is greatest')
    else:
        print('y is greatest')
else:
    if y>z:
        print('y is greatest')
    else:
        print('z is greatest')

y is greatest

## Advanced IF-ELSE

<img src ="https://cdn.pixabay.com/photo/2019/04/02/09/27/income-tax-4097292_1280.jpg" width=50% height =25%></img>

<h1 style ="font-family:Times;color:DarkBlue"> Ms. George is a CA and is just bored of manually calculating her clients' tax slabs. She asks her daughter's friend, YOU!, yes You , to  help her automate this boring stuff.</h1>

<h1 style ="font-family:Times;color:DarkBlue"><img src =" https://cdn.pixabay.com/photo/2018/01/14/23/10/bored-3082829__340.jpg" width=40% height =25%>
 Will you help her?</h1></img>

>Taxable income Tax Rate
    
>Up to Rs. 2,50,000	            ***Nil***

>Rs. 2,50,001 to Rs. 5,00,000	***5%***

>Rs. 5,00,001 to Rs. 7,50,000	***10%***

>Rs. 7,50,001 to Rs. 10,00,000	***15%***

>Rs. 10,00,001 to Rs. 12,50,000	***20%***

>Rs. 12,50,001 to Rs. 15,00,000	***25%***

>Above Rs. 15,00,000	        ***30%***

In [5]:
sal=int(input('Enter the salary'))
if sal<=250000:
    print('Nil')
elif sal>=250001 and sal<=500000:
    tax=(5*sal)/100
    sal=sal+tax
    print(sal)
elif sal>=500001 and sal<=750000:
    tax=(10*sal)/100
    sal=sal+tax
    print(sal)
elif sal>=750001 and sal<=1000000:
    tax=(15*sal)/100
    sal=sal+tax
    print(sal)
elif sal>=1000001 and sal<=1250000:
    tax=(20*sal)/100
    sal=sal+tax
    print(sal)
elif sal>=1250001 and sal<=1500000:
    tax=(25*sal)/100
    sal=sal+tax
    print(sal)
elif sal>=1500000:
    tax=(30*sal)/100
    sal=sal+tax
    print(sal)

Enter the salary1500000
1875000.0

# Loops
- FOR loop
- While loop

## `for` Loop

In [6]:
#Printing square from 1 to 10
for i in range(1,11):
    sq=i**2
    print(sq)

1
4
9
16
25
36
49
64
81
100

<h1 style ="font-family:Times;color:DarkBlue">Goods and Services Tax or simply GST. When this word comes, the local shopkeepers kind of feel irked because of the complex calculations and confusing guidelines. </h1>


<img src ="https://www.outlookindia.com/outlookmoney/public/uploads/article/gallery/a0bbda7bd6bac8ffd1816c339e5b71d8.jpg" width=60% height =25%></img>


<h1 style ="font-family:Times;color:DarkBlue">You gotta use your python skills to help your local shopkeeper calculate the Net Price for his shop's product provided below along with it's respective GST slab.</h1>

<img src ="https://i.imgflip.com/v1ymo.jpg"></img>

GST Amount = ( Original Cost * GST ) / 100

Net Price = Original Cost + GST Amount

#Given

Product Cost / GST Slab

Product1- 1000 / **18%**

Product2- 250 / **18%**

Product3- 125 / **5%**

Product4- 345 / **18%**

Product5- 820 / **12%**

Product6- 980 / **5%**

Product7- 500 / **12%**

In [12]:
cost=int(input("enter the original cost"))
if cost==1000 or cost==250 or cost==345:
    gst=(cost*18)/100
    net=cost+gst
    print(net)
elif cost==125 or cost==980:
    gst=(cost*5)/100
    net=cost+gst
    print(net)
elif cost==820 or cost==500:
    gst=(cost*12)/100
    net=cost+gst
    print(net)

enter the original cost250
295.0

## Using IF-ELSE with for Loop

In [7]:
#Printing squares of even numbers from 1 to 100
for i in range(1,101):
    if i%2==0:
        sq=i**2
        print(sq)

4
16
36
64
100
144
196
256
324
400
484
576
676
784
900
1024
1156
1296
1444
1600
1764
1936
2116
2304
2500
2704
2916
3136
3364
3600
3844
4096
4356
4624
4900
5184
5476
5776
6084
6400
6724
7056
7396
7744
8100
8464
8836
9216
9604
10000

## `while` loop

In [8]:
#Printing square from 1 to 10
i=1
while i<=10:
    sq=i**2
    print(sq)
    i+=1

1
4
9
16
25
36
49
64
81
100

## Using IF-ELSE with `while` Loop

In [1]:
#Printing squares of even numbers from 1 to 100
i=1
while i<=100:
    if i%2==0:
        sq=i**2
        print(sq)
    i+=1
    #else:
     #   i+=1

4
16
36
64
100
144
196
256
324
400
484
576
676
784
900
1024
1156
1296
1444
1600
1764
1936
2116
2304
2500
2704
2916
3136
3364
3600
3844
4096
4356
4624
4900
5184
5476
5776
6084
6400
6724
7056
7396
7744
8100
8464
8836
9216
9604
10000